@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?uak54x');
  src:  url('../fonts/icomoon.eot?uak54x#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?uak54x') format('truetype'),
    url('../fonts/icomoon.woff?uak54x') format('woff'),
    url('../fonts/icomoon.svg?uak54x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-machine:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e901";
}
.icon-ruler:before {
  content: "\e902";
}
.icon-shirt:before {
  content: "\e903";
}
.icon-home:before {
  content: "\e904";
}
.icon-phone2:before {
  content: "\e942";
}
.icon-mail:before {
  content: "\ea83";
}
